<!doctype html>
<html>
<head>
  <title>Profile Disclosure</title>

  <link rel=stylesheet type=text/css href="static/Flat-UI-master/bootstrap/css/bootstrap.css">
  <script type=text/javascript src="static/Flat-UI-master/js/jquery-1.10.2.min.js"></script>
  <script type=text/javascript src="static/Flat-UI-master/js/bootstrap.min.js"></script>
  <script type=text/javascript src="static/Flat-UI-master/js/application.js"></script>
</head>

<body>
  <h1>Twitter Profile Disclosure</h1>
  {% block content %}{% endblock %}
</body>
</html>
