{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}


{% block navbar %}

{% endblock %}

{% block content %}

        <div class="mainBox">
        <h1>ヽ(•̀﹏•́ )ゝ✧ヽ(•̀﹏•́ )ゝ✧ヽ(•̀﹏•́ )ゝ✧ヽ(•̀﹏•́ )ゝ✧</h1>
        <ul class="metanav" >
           <li><a href="../">Home</a></li>
           <li><a href="../twitter">Twitter</a></li>
           <li><a href="../facebook">Facebook</a></li>
           <li><a href="">About</a></li>
           <li><a href="../contact">Contact</a></li>
        </ul>
        <br>
        <br>
        <br>
        <br>
            <h1>Register</h1>
            <a href="{{ url }}">Twitterアカウントとの連携を承認する</a>

        </div>
{% endblock %}
